<br><br>
<a class="coinbase-button" data-code="48d40bedcca44cdf8f55b8199d477efd" data-button-style="custom_small" href="https://coinbase.com/checkouts/48d40bedcca44cdf8f55b8199d477efd">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>