<br>
<form class="form-sendbanana">
by <a href='http://chinstorff.com'>Christopher Hinstorff</a> and <a href='http://bernsteinbear.com'>Maxwell Bernstein</a>
<%= erb :donate, :layout => false %>
</form>
