<br>
<form class="form-attribution">
  <%= erb :donate, :layout => false %>
  <br>
  We're doing an AMA! Here's our post: <a href="http://www.reddit.com/r/IAmA/comments/1ernxr/we_are_the_developers_of_the_popular/">Ask us anything!</a>
</form>
<!-- /container -->

<!-- Le javascript
     ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
