<!DOCTYPE html>
<html lang="en">
  <%= erb :header, :layout => false %>
  <body>
    <div class="container">

      <form class="form-sendbanana" action="/" method="post">
        <h2 class="form-sendbanana-heading">Share a Banana</h2>
	Your request has been received. Check your email for a payment request.<br>
	Once you pay through Coinbase, click the confirmation page to check your status and confirm the shipment.
      </form>

    </div> <!-- /container -->

    <!-- Le javascript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
