<!DOCTYPE html>
<html lang="en">
  <%= erb :header, :layout => false %>
  <body>
    <div class="container">

      <form class="form-sendbanana" action="/" method="post">
        <h2 class="form-sendbanana-heading">Share a Banana <img class="inline-banana" src="/img/inline_banana.png"></img></h2>
	Your request has been received.<br>
	Check your email to share a banana&nbsp;&nbsp;<img src="/ico/favicon.ico"> 
      </form>
      <%= erb :footer, :layout => false %>
    </div>
  </body>
</html>
